extends ../base
block title
    | Index page
block main
    h1 page index-pug
    img(src=require("./meat.svg") width="100")
    #wrapper
        #timer 0
        #tested sfsfsf
        button#go Запустить таймер!
        button#stop Остановить таймер!
        #demo какой то текст